.scanlines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.03) 50%,
            rgba(0, 0, 0, 0.1) 50%);
    background-size: 100% 3px;
    pointer-events: none;
    z-index: 100;
    opacity: 0.4;
    animation: scanlineMove 20s linear infinite;
}

@keyframes scanlineMove {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}