.cyberButton {
    background: transparent;
    border: 2px solid var(--grey);
    color: var(--grey);
    font-family: var(--font-heading);
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: var(--spacing-xs) var(--spacing-sm);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    background-color: rgba(14, 14, 23, 0.7);
}

.cyberButton:hover:not(:disabled) {
    color: var(--cyan);
    background-color: rgba(94, 246, 255, 0.1);
    border-color: var(--cyan);
}

.cyberButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Variantes */
.primary {
    color: var(--red);
    background-color: rgba(247, 80, 73, 0.1);
    border-color: var(--red);
    box-shadow: 0 0 15px rgba(247, 80, 73, 0.5);
}

.secondary {
    color: var(--grey);
    background-color: rgba(14, 14, 23, 0.7);
    border-color: var(--grey);
}

.danger {
    color: var(--red);
    background-color: rgba(247, 80, 73, 0.1);
    border-color: var(--red);
}

.primary:hover:not(:disabled) {
    color: var(--red);
    background-color: rgba(247, 80, 73, 0.2);
    border-color: var(--red);
    box-shadow: 0 0 20px rgba(247, 80, 73, 0.7);
}

.danger:hover:not(:disabled) {
    color: var(--red);
    background-color: rgba(247, 80, 73, 0.2);
    border-color: var(--red);
    box-shadow: 0 0 20px rgba(247, 80, 73, 0.5);
}

.cyberButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 30%, rgba(247, 80, 73, 0.3) 50%, transparent 70%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cyberButton:hover:not(:disabled)::before {
    opacity: 1;
}